@charset "UTF-8";

/*変数*/
.home {
  --allheaderposition: fixed;
  --allheaderheight: 80px;
  --color: #004176;
  font-weight: 400;
  --font: "M PLUS 1";
}

.other {
  --allheaderposition: fixed;
  --allheaderheight: 80px;
  --color: #004176;
  font-weight: 400;
  --font: "M PLUS 1";
}
/* #004176
#F7EDD1
#0089C0 */

/*初期設定*/
a {
  color: var(--color);
  text-decoration: none;
  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.5;
}

h2,h3{
  font-weight: 600;
}

/*メイン*/
#wrapper {
  min-height:100vh;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  --allheaderheightpad: calc(var(--allheaderheight) / 7);
  --allheadercontentsheight: calc(var(--allheaderheight) - var(--allheaderheightpad) * 2);
  background-color: #fff;
  color: #222;
  display: flex;
  flex-flow: column;
}

main{
  flex: 1;
}

.mainmargin{
  margin-top: var(--allheaderheight);
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fixed {
  position: fixed;
  top: 0;
}

/*header*/

#allheader {
  top: 0;
  width: 100%;
  height: var(--allheaderheight);
  position: var(--allheaderposition);
  box-sizing: border-box;
  padding: var(--allheaderheightpad) 10%;
  background-color: #004176;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--allheadercontentsheight) / 2);
  z-index: 1;
}

#allheader img {
  height: var(--allheadercontentsheight);
}

#allheader .headernav {
  max-width: 50%;
}

.pageheader {
  width: 100%;
  height: 50px;
  margin-top: var(--allheaderheight);
  box-sizing: border-box;
  background-color: #000000;
  text-align: center;
  font-size: 30px;
}

.headernav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "M PLUS 1";
}

.headernav ul li {
  margin: 0 10px;
  display: inline;
  vertical-align: middle;
}

.headernav a {
  color: #fff;
}

/*footer*/
#allfooter {
  width: 100%;
  box-sizing: border-box;
  background-color: #004176;
  padding: 20px 20px;
  text-align: center;
  color: #ffffff;
  vertical-align: bottom;
  font-family: "M PLUS 1";
}

.return{
  display: block;
  margin: 20px auto;
  height: 150px;
}

#allfooter small{
  display: block;
}

/*containerbox*/
.containerbox {
  width: 300px;
  height: 270px;
  margin: 20px 10px;
  border-radius: 10px;
  border: 0.1rem solid #949497;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: outline 0.2s;
}

.containerbox:hover {
  border-color:#004176;
  outline: 0.1rem solid #004176;
}

.containerbox a{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.containerimg {
  height: 180px;
}

.containerimg img {
  width: 100%;
  height: 180px;
  object-fit: fill;
}

.containertitle{
  height: 70px;
  margin: 10px 12px;
  position: relative;
}

.containertitle span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  width: 100%;
  font-weight: 450;
  font-size: 19px;
  font-family: var(--font);
  color: #000000;
}

/*topicbox*/
.topicbox {
  width: 100%;
  min-height: 100px;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 10px;
  border: 0.1em solid #949497;
  background: #fff;
  position: relative;
}

.topictitle h4{
  margin: 10px 0;
  font-size: 15px;
  font-family: var(--font);
  color: #000000;
}

.topictitle h3{
  margin: 10px 0;
  font-size: 18px;
  font-family: var(--font);
  color: #000000;
}

/*homepage*/
#hometopview {
  height: 100vh;
  /* width: 100%; */
  background-image: url("../images/top.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homesection {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto 50px;
  padding: 10px 0px 10px 20px;
  text-align: left;
  border-left: 10px solid #004176;
}

.homesection p{
  margin: 10px auto 10px;
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--font);
}

.homesection h3{
  margin: 20px auto;
  font-size: 25px;
  line-height: 1.5;
}

.homesection ul li {
  margin: 0.8rem 10px;
  display: block;
}

.homesectiontitle {
  font-size: 36px;
  color: #004176;
  font-family: var(--font);
}

/*about*/
#abouttopview {
  top: 0;
  background-image: url("../images/top.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}
.aboutsection {
  width: 90%;
  max-width: 800px;
  margin: 50px auto 50px;
  padding: 10px;
  text-align: left;
  border: solid 3px var(--color);
  border-radius: 10px;
}

.aboutsectiontitle {
  font-size: 30px;
  font-family: var(--font);
}

/*linkbutton*/
.linkbutton {
  width: 330px;
  height: 50px;
  margin: 20px;
  border-radius: 25px;
  background-color: #004176;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s;
}

.linkbutton:hover {
  opacity: 0.5;
}

.linkbutton a{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.linkbutton span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  font-size: 20px;
  color: #fff;
}