.postsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 600;
    color: var(--color-text);
    justify-content: flex-start;
    box-sizing: border-box;
}

.post {
    width: 100%;
    justify-content: center;
}

@media (max-width: 767px) {
    .postsContainer {
        grid-template-columns: 1fr;
        width: 100%;
    }
}