.gridContainer {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
    font-weight: 600;
    color: var(--color-text);
}