.gridContainer {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    gap: 2rem;
    justify-content: flex-start;
    grid-auto-rows: auto;
}

.gridContainer.is-gold {
    grid-template-columns: 1fr;
}

.gridContainer.is-silver {
    grid-template-columns: repeat(2, 1fr);
}

.gridContainer.is-bronze {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.gridContainer.is-normal {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 767px) {
    .gridContainer {
        gap: 1.5rem;
    }

    .gridContainer.gridContainer.is-silver {
        grid-template-columns: 1fr;
    }

    .gridContainer.is-bronze {
        grid-template-columns: repeat(2, 1fr);
    }

    .gridContainer.is-normal {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}