.linkCard {
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s;
}

.linkCard:hover {
    background-color: var(--color-lightgray);
}

.baseCard {
    grid-column-start: var(--grid-column-start);
    grid-row-start: var(--grid-row-start);
    grid-row-end: span 1;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--color-white);
    font-size: var(--font-size-reg);
    color: var(--color-text);
    min-width: minmax(100%, max-content);
    height: min-content;
    box-shadow: 0.1rem 0.2rem var(--color-lightgray);
}

@media (max-width: 767px) {
    .baseCard h3 {
        font-size: 1.2rem;
    }

    .baseCard p {
        margin: 0;
        font-size: 0.6rem;
    }
}