.goldSponsor {
    margin-bottom: 1rem;
}

.goldSponsor::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/logos/logo_R_gold.png);
    background-size: contain;
    vertical-align: middle;
}

.silverSponsor {
    margin-bottom: 1rem;
}

.silverSponsor::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/logos/logo_R_silver.png);
    background-size: contain;
    vertical-align: middle;
}

.bronzeSponsor {
    margin-bottom: 1rem;
}

.bronzeSponsor::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/logos/logo_R_bronze.png);
    background-size: contain;
    vertical-align: middle;
}

.normalSponsor {
    margin-bottom: 1rem;
}

.normalSponsor::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/logos/logo_R.png);
    background-size: contain;
    vertical-align: middle;
}

.sponsorContainer {
    margin-bottom: 3rem;
}

.request {
    display: grid;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin: 0 -4rem 3rem -4rem;
    padding: 3rem 4rem;
}

.request h1 {
    all: revert;
}

.request h1::before, 
.request h1::after {
    all: revert;
}

.linkButton {
    display: flex;
    justify-content: center;
    align-items: center;     
    width: 100%;
    padding: 1rem;
}

.linkButton {
    font-size: 2rem;
}

@media (max-width: 767px) {
    .goldSponsor::before {
        width: 2.4rem;
        height: 2.4rem;
    }

    .silverSponsor::before {
        width: 2.4rem;
        height: 2.4rem;
    }

    .bronzeSponsor::before {
        width: 2.4rem;
        height: 2.4rem;
    }

    .normalSponsor::before {
        width: 2.4rem;
        height: 2.4rem;
    }

    .request {
        margin: 0 -2rem 3rem -2rem;
        padding: 3rem 2rem;
    }

    .linkButton {
        padding: 0;
    }
}