.goldSponsor::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/logos/logo_R_gold.png);
    background-size: contain;
    vertical-align: middle;
}

.silverSponsor::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/logos/logo_R_silver.png);
    background-size: contain;
    vertical-align: middle;
}

.bronzeSponsor::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/logos/logo_R_bronze.png);
    background-size: contain;
    vertical-align: middle;
}

.normalSponsor::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/logos/logo_R.png);
    background-size: contain;
    vertical-align: middle;
}

.sponsorContainer {
    margin-bottom: 3rem;
}

.request {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.request h1 {
    all: revert;
}

.request h1::before, 
.request h1::after {
    all: revert;
}

.linkButton {
    display: flex;
    justify-content: center; /* 左右の中央揃え */
    align-items: center;     /* 上下の中央揃え（必要に応じて） */
    width: 100%;
    padding: 1rem;
}