.footer {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem 0 1rem;
    border-top: 0.5rem solid;
    border-top-color: var(--color-blue);
    box-sizing: border-box;
    padding-bottom: env(safe-area-inset-bottom);
}

.footerLeft {
    display: flex;
    gap: 8rem;
}

.profileText {
    display: block;
    font-size: 0.7rem;
}

.profileText p {
    margin: 0.5rem 0 0.5rem 0;
}

.navMenu {
    flex-direction: column;
    position: sticky;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1rem 0 2rem;
    border-left: 0.3rem solid;
    border-left-color: var(--color-lightgray);
    margin-top: 1.5rem;
}

.navLink {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: var(--font-size-mb);
    font-family: arial;
    transition: color 0.5s;
}

.navLink p {
    margin: 0;
}

.navLink:hover {
    color: var(--color-blue);
}

.snsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
    margin: 1.5rem 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.border {
    border-top: 0.5rem solid var(--color-blue);
    width: 100%;
    box-sizing: border-box;
}

.copyright {
    margin: 0 8 0 auto;
    padding: 0;
    text-align: right;
    font-size: 0.6rem;
}

.mobileOnlyBr {
    display: none;
}

@media (max-width: 767px) {
    .navLink {
        display: none;
        position: static;
    }

    .footer {
        margin-top: 0;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: env(safe-area-inset-bottom);
    }

    .footerLeft {
        gap: 1rem;
    }

    .profileText p{
        font-size: 0.6rem;
    }

    .snsList {
        grid-template-columns: 1fr;
        font-size: 0.8rem;
        margin: 0;
        padding-top: 1rem;
    }

    .copyright {
        padding: 0;
    }

    .copyright p{
        font-size: 0.5rem;
    }

    .mobileOnlyBr {
        display: block;
    }
}