.blueContainer {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-blue);
    border-radius: 1rem; /*四隅の丸み*/
    padding: 12px 24px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 影 */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.blueContainer .buttonText {
    color: var(--color-white);
    font-size: var(--font-size-md);
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.blueContainer:hover {
    background-color: var(--color-darkblue);
    transform: translateY(1px);
}

.blueContainer:hover .buttonArrowIcon {
    transform: translateX(3px);
    transition: transform 0.2s ease;
}

.whiteContainer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-white);
    border-radius: 2rem; /*四隅の丸み*/
    padding: 0.5rem 1rem;
    box-shadow: 0  0.2rem 0.1rem rgba(0, 0, 0, 0.2); /* 影 */
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.whiteContainer .buttonText {
    color: var(--color-navy);
    font-family: inherit;
    font-size: var(--font-size-md);
    font-weight: 700;
    white-space: nowrap;
}

.whiteContainer:hover {
    background-color: var(--color-lightgray);
}

.buttonArrowIcon {
    color: var(--color-navy);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon {
    width: 2rem;
    height: 2rem;
}