.blueContainer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-blue);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: 0  0.2rem 0.1rem var(--color-lightgray); /* 影 */
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s;
}

.blueContainer .buttonText {
    color: var(--color-white);
    font-family: inherit;
    font-size: var(--font-size-reg);
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0.1rem;
}

.blueContainer .buttonText p {
    margin: 0;
}

.blueContainer:hover {
    background-color: var(--color-darkblue);
}

.whiteContainer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-white);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: 0  0.2rem 0.1rem var(--color-navy); /* 影 */
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s;
}

.whiteContainer .buttonText {
    color: var(--color-navy);
    font-family: inherit;
    font-size: var(--font-size-reg);
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0.1rem;
}

.whiteContainer:hover {
    background-color: var(--color-lightgray);
}

.buttonArrowIcon {
    color: var(--color-navy);
    background-color: var(--color-white);
    border-radius: 2rem;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon {
    width: 2rem;
    height: 2rem;
}

@media (max-width: 767px) {
    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}