.container {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-reg);
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem var(--color-lightgray);
    transition: background-color 0.5s;
}

.link:hover {
    background-color: var(--color-darkblue);
}

.active {
    background-color: var(--color-blue);
    color: var(--color-white);
}

@media (max-width: 767px) {
    .link {
        width: 1rem;
        height: 1rem;
        font-size: 0.5rem;
        border-radius: 0.2rem;
    }
}