.container {
    position: relative;
    overflow: hidden;
    width: var(--width-pc);
    height: var(--height-pc);
}

.rounded {
    border-radius: 1rem;
}

.image {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 767px) {
    .container {
        width: var(--width-mobile);
        height: var(--height-mobile);
    }
}