.container {
    position: relative;
    overflow: hidden;
}

.rounded {
    border-radius: 1rem;
}

.image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
}