.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    border-top: 0.5rem solid;
    border-top-color: var(--color-blue);
}

.footerLeft {
    display: flex;
    align-items: center;
    margin: 0 0 0 1rem;
}

.profileText {
    display: block;
    font-size: 0.7rem;
}

.navMenu {
    margin: 0 0 0 auto; 
    border-left: 0.3rem solid;
    border-left-color: var(--color-lightgray);
}

.navList {
    display: block;
    list-style: none;
    margin: 0 24 0 8;
    align-items: center;
    gap: 0.5rem;
}

.navLink {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: var(--font-size-mb);
    font-family: arial;
    transition: color 0.5s;
}

.navLink:hover {
    color: var(--color-blue);
}

.snsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    margin: 0 0 0 36;
    list-style: none;
    align-items: center;
}

.border {
    border-top: 0.5rem solid var(--color-blue);
    width: 100%;
    box-sizing: border-box;
}

.copyright {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 0 0 auto;
    text-align: right;
    font-size: 0.6rem;
}