.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 0.2rem solid ;
    border-bottom-color: var(--color-white);
    border-top: 0.5rem solid;
    border-top-color: var(--color-blue);
}

.navList {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin: 0 24 0 0;
    padding: 0;
    align-items: center;
}

.navLink {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 1000;
    font-size: var(--font-size-mb);
    font-family: arial;
    transition: color 0.5s;
}

.navLink:hover {
    color: var(--color-blue);
}

.snsList {
    margin: 0 0 0 8;
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
}